Source: capi-messaging-messages
Section: libs
Priority: extra
Maintainer: WonYoung Choi <wy80.choi@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, libglib2.0-dev, libslp-msg-service-dev, capi-base-common-dev

Package: capi-messaging-messages
Architecture: any
Depends: ${shilbs:Depends}, ${misc:Depends}
Description: A SMS/MMS library in Tizen Native API

Package: capi-messaging-messages-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-messaging-messages (= ${Source-Version}), dlog-dev, libglib2.0-dev, libslp-msg-service-dev, capi-base-common-dev
Description: A SMS/MMS library in Tizen Native API (DEV)

Package: capi-messaging-messages-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-messaging-messages (= ${Source-Version})
Description: A SMS/MMS library in Tizen Native API (DBG)

